<% layout('layout/boilerplate') %>
    <h1>Update Campground Info below</h1>

    <form action="/campground/<%=camp._id%>/?_method=PATCH" method="POST" novalidate class="validatedForm">

        <div class="mb-3">
            <label class="form-label" for="title">Add Camp Name</label>
            <input class="form-control" type="text" id="title" name="title" value="<%=camp.title %>" required>
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="location">Enter Location</label>
            <input class="form-control" type="text" name="location" id="location" value="<%=camp.location %>" required>
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>

        <div class=" mb-3">
            <label class="form-label" for="description">Enter Description</label>
            <input class="form-control" type="text" name="description" id="description" value="<%=camp.description %>"
                required>
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="image">Enter Image URL</label>
            <input class="form-control" type="text" name="image" id="image" value="<%=camp.image%>" required>
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="price">Enter price</label>
            <input class="form-control" type="number" name="price" id="price" value="<%=camp.price%>" required>
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>

        <div class="mb-3">
            <button class="btn btn-success">Update Campground</button>
        </div>
    </form>

    <form action="/campground/<%=camp._id%>">
        <div class="mb-3">
            <button class="btn btn-danger">Go Back</button>
        </div>
    </form>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validatedForm')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>