<% layout('layout/boilerplate') %>

    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <img src="<%=campground.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= campground.location%>
                    </li>
                    <li class="list-group-item">
                        $<%= campground.price%>
                </ul>
                <div class="card-body">
                    <a href="/campground" class="btn btn-info card-link">Home</a>
                    <a href="/campground/<%=campground._id%>/edit" class="btn btn-success card-link">Edit
                        Information</a>
                    <form class="d-inline px-3" action="/campground/<%=campground._id%>/?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>